/*********************

Colors 

Green: rgb(141,174,50)
Text: rgb(73,65,60)
Link blue: rgb(34,183,201)
Red: rgb(250,68,20)
Orange: rgb(255,174,0)
Blue top: rgb(34,183,201)
Blue bottom: rgb(32,174,191)
Blue top hover: rgb(78,197,212)
Blue bottom hover: rgb(74,187,201)
Dark beige: rgb(209,209,189)
Mid beige: rgb(238,238,233)
Light beige: rgb(250,250,243)


*********************/



/*********************
Body
*********************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgb(250,250,243);
	font-family: museo sans, helvetica, arial, sans-serif;
	color: #49413c;
	font-weight: 300;
}

#wrapper {
	width: 960px;
	overflow: auto;
	margin: 0 auto 30px auto;
	background-color: rgb(250,250,243);
/*  box-shadow: 0px 0px 20px #d1d1bd; */
}

#sidebar {
	width: 190px;
	margin: 40px 0 0 5px;
	list-style: none;
	display: inline;
	float: left;
/*	position: fixed; */
}

#container {
	list-style: none;
	width: 723px;
	margin: 0 0 0 195px;
	padding: 20px;
	display: block;
	overflow: auto;
	background-color: white;
	border: 1px solid rgb(238,238,233);
	min-height: 450px;
}

#containerwp {
	list-style: none;
	width: 723px;
	margin: 0 0 0 195px;
	padding: 20px;
	display: block;
	overflow: auto;
	background-color: white;
	border: 1px solid rgb(238,238,233);
	min-height: 450px;
}

#container_full {
	list-style: none;
	width: 918px;
	margin: 0;
	padding: 20px;
	display: block;
	background-color: white;
	border: 1px solid rgb(238,238,233);
}

#container_full ul {
	margin-left:30px;
}


#container:nth-child(2n+0) {
	/*margin-top: 20px;*/
	margin-top: 0px;
}



/*********************
Typography
*********************/

p {
	font-size: 16px;
	padding-bottom:10px;
}

.addguestp {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.75);
	font-weight: 100;
	display: block;
	font-size: 14px;
}

a:link {
	color: rgb(32,174,191);
	text-decoration: none;
}

a:visited {
	color: rgb(32,174,191);
	text-decoration: none;
}

a:hover {
	color: rgb(78,197,212);
	text-decoration: none;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;  
   	-o-transition: all .2s ease;  
    transition: all .2s ease;
}

a:active {
	color: rgb(255,174,0);
	text-decoration: none;
}

h1 {
	font-family: Museo Slab, Georgia, Serif;
	font-size: 32px;
	font-weight: 100;
	color: rgb(141,174,50);
	padding-bottom:10px;

}

h2 {
	font-family: Museo Slab, Georgia, Serif;
	font-weight: 100;
	color: rgb(141,174,50);
	padding-bottom:10px;

}

h3 {
	font-family: Museo Slab, Georgia, Serif;
	font-weight: 100;
	font-size: 16px;
	padding-bottom:10px;
}

h4 {
	font-family: Museo Slab, Georgia, Serif;
	font-weight: 100;
	color: rgb(141,174,50);
	padding-bottom:10px;
}

h5 {
	font-family: Museo Slab, Georgia, Serif;
	font-weight: 500;
	color: rgb(16,99,170);
	text-align: center;
	padding-bottom:10px;

}

h6 {
	font-family: Museo Slab, Georgia, Serif;
	font-weight: 500;
	font-style: italic;
	font-size: 14px;
	padding-bottom:10px;

}

/*********************
Header
*********************/

#header_container {
	width: 100%;
}

#masthead {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	overflow: auto;
}

#masthead h6 {
	padding: 0 0 0 100px;
	display: inline;
}

nav {
	background-color: #524C39;
	display: block;
	margin: 15px 0 0 0;
}

nav ul {
	width: 960px;
	margin: 0 auto;
	list-style: none;
	padding: 5px 0;
	overflow: auto;
	background-image: -webkit-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -moz-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -o-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -ms-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#544E3B),color-stop(0.5,#504A38))
}

nav ul a{
	float: left;
	margin: 11px 0px 11px 20px;
	color: #fff;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
}

nav ul a:link{
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}

nav ul a:visited{
	color: #fff;
}

nav ul a:hover{
	color: rgba(255,255,255,1);
	text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
}

nav ul a:active{
	color: rgba(255,255,255,0.5);
	text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
}

#menu-navigation .current-menu-item, #menu-navigation .current-page-ancestor {
	float: left;
	background-color: rgb(141,174,50);
	margin: 0px -5px 0 10px;
	border-radius: 10px;
	padding: 1px 10px;
}

#menu-navigation .current-menu-item a:link, #menu-navigation .current-page-ancestor a:link{
	margin: 0;
	padding: 9px 5px;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.2);
}

#header-left {
	width: 50%;
	display: inline;
	float: left;
}

#header-right {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
}

#socialmedia {
	float: right;
	margin-top: 10px;
}

#socialmedia img:hover {
	opacity: 0.8;
}

/*********************
Sidebar
*********************/

#nav li {
	list-style: none;
	position: relative;
	border-top: 1px solid rgb(238,238,233);
	border-left: 1px solid rgb(238,238,233);
	border-bottom: 1px solid rgb(238,238,233);
	width: 190px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 0 0 10px 0;
	-moz-box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#nav li:hover {
	background: rgba(255,255,255,0.8);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#nav li:active {
	background: rgba(255,255,255,1.0);
}


#nav li a {
	padding: 20px 0 20px 60px;
	display: block;
	list-style: none;
}

#nav #active_tab {
	background-color: white;
	border-top: 1px solid rgb(238,238,233);
	border-left: 1px solid rgb(238,238,233);
	border-bottom: 1px solid rgb(238,238,233);
	position: relative;
	width: 190px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: none;
	text-shadow: none;
}

#nav li h3 a {
	background-size: 40px;
}

#nav #sub_tab {
	width: 180px;
	margin-left: 10px;
	background: rgba(238,238,233,1.0);
	-moz-box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	box-shadow: inset -14px 0 15px -16px rgba(0, 0, 0, 0.2);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#nav #sub_tab:hover {
	background: rgba(255,255,255,0.3);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#nav #sub_tab a {
	padding: 20px 0 20px 40px;
}

#nav #active_sub_tab {
	background-color: white;
	border-top: 1px solid rgb(238,238,233);
	border-left: 1px solid rgb(238,238,233);
	border-bottom: 1px solid rgb(238,238,233);
	position: relative;
	width: 180px;
	margin-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: none;
	text-shadow: none;
}

#nav #active_sub_tab a {
	padding: 20px 0 20px 40px;
}

#food {
	background-image:url('../images/featured_food.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#alcohol {
	background-image:url('../images/featured_alcohol.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#tv {
	background-image:url('../images/featured_tv.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#kids {
	background-image:url('../images/featured_kids.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#gaming {
	background-image:url('../images/featured_gaming.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#house {
	background-image:url('../images/featured_household.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#philly {
	background-image:url('../images/featured_philly.jpeg');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#redbook {
	background-image:url('../images/casestudy_redbook.jpeg');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#tapena {
	background-image:url('../images/casestudy_tapena.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#chefboy {
	background-image:url('../images/casestudy_chefboy.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#oned {
	background-image:url('../images/casestudy_1d.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#reach {
	background-image:url('../images/wwd_reach.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#engagement {
	background-image:url('../images/wwd_engagement.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#branding {
	background-image:url('../images/wwd_branding.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#sales {
	background-image:url('../images/wwd_sales.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#community {
	background-image:url('../images/hwdi_community.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#platform {
	background-image:url('../images/hwdi_platform.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#parties {
	background-image:url('../images/hwdi_parties.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#measurement {
	background-image:url('../images/hwdi_measurement.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#process {
	background-image:url('../images/hwdi_process.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#press {
	background-image:url('../images/newsroom_press.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#releases {
	background-image:url('../images/newsroom_releases.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#events {
	background-image:url('../images/newsroom_events.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#snapshot {
	background-image:url('../images/about_snapshot.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#manage {
	background-image:url('../images/about_manage.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#board {
	background-image:url('../images/about_board.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#clients {
	background-image:url('../images/about_clients.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#careers {
	background-image:url('../images/about_careers.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#hpknows {
	background-image:url('../images/cs_expertise.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#pastparties {
	background-image:url('../images/cs_pastparties.png');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#noicon {
	background-image:url('http://placehold.it/40x40');
	background-repeat:no-repeat;
	background-position: 10px center;
}

#pdf {
	background-image: url('../images/icon_pdf.png');
	background-repeat: no-repeat;
	background-position: 0 center;
	padding: 5px 0 5px 30px;
	display: block;
}

#video {
	background-image: url('../images/icon_video.png');
	background-repeat: no-repeat;
	background-position: 0 center;
	padding: 5px 0 5px 30px;
	display: block;
}

#sub {
	
}

#contactus {
	width: 170px;
	margin: 30px 0 0 0;
}

.backnext {
	display: none;
}


/*********************
Content
*********************/

.feature_image_right, .feature_image_left {
	display: block;
	margin: 30px 0 30px 0;
	width: 100%;
	overflow: auto;
}

.feature_image_right:first-child, .feature_image_left:first-child {
	display: block;
	margin: 0 0 50px 0;
	width: 100%;
	overflow: auto;
}

.callout_container {
	padding: 30px 0;
	display: block;
	margin: 20px 0;
	width: 100%;
	overflow: auto;
	border-top: 5px solid rgb(73,65,60);
	border-bottom: 5px solid rgb(73,65,60);
	color: rgb(141,174,50);
}

blockquote{
	font-family: Museo Slab;
	font-style: italic;
	padding: 30px 0 80px 0;
	display: block;
	margin: 20px 0;
	width: 100%;
	overflow: auto;
	border-top: 5px solid rgb(73,65,60);
	background-image:url('../images/blockquote_960.png');
	background-repeat:no-repeat;
	background-position: 0px bottom;
	color: rgb(141,174,50);	
}

blockquote h2 {
	text-align: right;
	padding-top: 10px;
}

.blockquote_left {
	padding: 10px 10px 40px 10px;
	display: block;
	width: 340px;
	float: left;
	border-top: 1px solid rgb(238, 238, 233);
	border-bottom: none;
	color: rgb(141, 174, 50);
	background: rgb(250, 250, 243);
	background-image: url('../images/blockquote_340_white.png');
	background-repeat: repeat-x;
	background-position: 0px bottom;
	font-style: italic;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}

.blockquote_right {
	padding: 10px 10px 40px 10px;
	display: block;
	width: 340px;
	float: right;
	border-top: 1px solid rgb(238, 238, 233);
	border-bottom: none;
	color: rgb(141, 174, 50);
	background: rgb(250, 250, 243);
	background-image: url('../images/blockquote_340_white.png');
	background-repeat: repeat-x;
	background-position: 0px bottom;
	font-style: italic;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}

.blockquote_left h3 {
	text-align: right;
	padding-top: 15px;
}

.blockquote_right h3 {
	text-align: right;
	padding-top: 15px;
}

.callout_left {
	padding: 10px;
	display: block;
	width: 340px;
	float: left;
	border: 1px solid rgb(238, 238, 233);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	background: rgb(250, 250, 243);
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
}

.callout_right {
	padding: 10px;
	display: block;
	width: 340px;
	float: right;
	border: 1px solid rgb(238, 238, 233);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	background: rgb(250, 250, 243);
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
}

.callout_left h3, .callout_right h3 {
	color: rgb(141,174,50);
	padding: 0 0 5px 0;
}

.callout_left p, .callout_right p {
	padding: 0 0 5px 0;
	font-size: 90%;
}

.callout_container h2 {
	margin: 0 0 20px 0;
}

.feature_text h1 {
	padding: 0 0 20px 0;
}

.feature_text h2 {
	padding: 0 0 20px 0;
}

.feature_text h3 {
	margin: -20px 0 10px 0;
}

.feature_text p{
	padding: 0 0 20px 0;
}

.feature_image_right .feature_text {
	float: left;
	width: 340px;
}

.feature_image_right .feature_image {
	float: right;
}

.feature_image_left {
	display: block;
	margin: 50px 0;
	width: 100%;
	overflow: auto;
}

.feature_image_left .feature_text {
	float: right;
	width: 340px;
}

.feature_image_left .feature_image {
	float: left;
}

.feature_image img {
	display: block;
	width: 340px;
}

.actuallist li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}

.gallery {

}

.gallery_right {
	display: block;
	width: 340px;
	float: right;

}

.gallery_left {
	display: block;
	width: 340px;
	float: left;

}

.gallery ul {
	overflow: hidden;
	margin: 10px 0 0 0;
}

.gallery li {
	list-style: none;
	float: left;
	height: 84px;
	overflow: hidden;
	margin: 0 5px 5px 1px;
}

.gallery li a img{
	width: 107px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	-moz-transition: -moz-transform 0.2s ease-in-out;
}


.gallery li a:hover img{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
	z-index: 2000;
}

.feature_video_right {
	float: right;
}

.feature_video_left {
	float: left;
}

.feature_video_right, .feature_video_left {
	background-image: url('../images/featured_photo_tapena.jpeg');
	width: 340px;
	height: 200px;
}

.feature_video_right img, .feature_video_left img{
	position: relative;
	margin: 0 auto;
	top: 80px;
	left: 150px;
	cursor: pointer;
}

.feature_video_right img:hover {
	cursor: pointer;
	opacity:0.9;
}



/*********************
About us
*********************/

.aboutus h3 {
	padding: 0 0 20px 0;
}


#managementcontainer {
}

.mgmt-photo {
	display: inline;
	width: 200px;
	float: left;
	padding-right: 29px;
	height: 350px;
	text-align: center;
}



#managementcontainer li:nth-child(3n+0) {
	padding: 0;
}

/* #managementcontainer img {
	width: 250px;
} */

.aboutusphoto {
	width: 200px;
}



/*********************
Contact
*********************/

.sidebar form.w2llead,.contact form{clear:none;text-align:left;}
.sidebar .w2linput, #sidebar .w2llabel, .contact form p label, .contact form p .w2linput{float:none; display:inline;}
.sidebar .w2llabel.error , .contact form p label.error{color:#f00;}
.sidebar .w2llabel,.contact form p label {margin:4px 0;float:none;display:inline;}
.sidebar .w2linput.submit, .contact form p.submit {margin:10px 0 0 0;}
#salesforce{margin:3px 0 0 0;color:#aaa;}
#salesforce a{color:#999;}



input[type="text"], input.text, input.title, textarea, select {
	border: none;
	/*height: 100px;*/
	border-radius: 3px;
	padding: 2px;
	color: rgb(78, 78, 78);
	background-color: rgba(250,250,243,1.0);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 2px 1px rgba(238,238,233,0.5), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
	font-family: Museo Slab;
	font-size: 16px;
}

input[type="text"]:focus, textarea:focus {
	background: rgba(238,238,233,1.0);
	outline: none;
}


.sidebar .w2linput.text, .contact form p .w2linput.text {
	width: 85%;
	height: 30px;
	margin: 4px 20px 4px 0;
}

.sidebar .w2linput.textarea,.contact form p .w2linput.textarea {
	width:73%;
	height:100px;
	margin:4px 20px 4px 0;
}

.upload {
	margin: 30px 0;
}

.upload h3 {
	margin: 0 0 5px 0;
}

/*********************
Case studies
*********************/

#container_fullwidth, #featuredclients {
	padding: 20px 0 0 0;
}

#container_fullwidth .cs_left {
	float: left;
 	margin: 0 20px 0 0;
 	height: 100%;
}

.cs_left img {
	width: 150px;
	margin: 0 0 10px 0;
}

#container_fullwidth li {
	display: inline;
	width: 430px;
	height: 330px;
	overflow: auto;
	float: left;
	margin-right: 50px;
}

#container_fullwidth li:nth-child(2n+0) {
	margin: 0;
}

#container_fullwidth h2 {
	font-size: 110%;
	padding: 0 0 10px 0;
}

#container_fullwidth p {
	font-size: 90%;
}

#featuredclients li {
	display: inline;
	overflow: auto;
	float: left;
	margin: 0 25px 25px 0;
	list-style: none;
	width: 290px;
	height: 180px;
}

#featuredclients li:nth-child(3n+0) {
	margin-right: 0;
}





/*********************
whitepapers
*********************/

.wp_container {
	padding: 20px 0 0 0;
}

.wp_container .cs_left {
	float: left;
 	margin: 0 20px 0 0;
 	height: 100%;
}

.wp_container li {
	display: inline;
	overflow: auto;
	float: left;
	padding: 40px 0;
}

.wp_container h2 {
	font-size: 110%;
	padding: 0 0 10px 0;
}





/*********************
Events
*********************/

.events_container {
	padding: 20px 0 0 0;
}

.events_container .cs_left {
	float: left;
 	margin: 0 20px 0 0;
 	height: 100%;
}

.events_container li {
	display: inline;
	overflow: auto;
	float: left;
	padding: 40px 0;
}

.events_container h2 {
	font-size: 110%;
	padding: 0 0 10px 0;
}

.events_container p {
	font-size: 90%;
	margin-left: 170px;
	width: 450px;
	padding: 0 !important;
}

.pastparties_container {
	padding: 20px 0 0 0;
}

.pastparties_container li {
	display: inline;
	overflow: hidden;
	float: left;
	padding: 40px 0;
	margin: 0 80px 0 0;
	width: 290px;
	height: 140px;
}

.pastparties_container li:nth-child(odd) {
	margin: 0;
}

.pastparties_container h2 {
	font-size: 110%;
	padding: 0 0 10px 0;
}

.pastparties_container p {
	font-size: 90%;
}


/*********************
Careers
*********************/

.careers_container li {
	padding: 30px 0 0 0;
}

.careers_container p {
	width: 100%;
	padding: 0px 0 10px !important;
}

.careers_container li .button_inset {
	margin: 0px 0;
	display: inline-block;
}

.careers_container li .button_inset .media_button {
	display: block;
}

.apply_container p {
	padding: 5px 0;
}

.apply_container li {
	padding: 5px 0;
	margin: 0 0 0 20px;
	list-style-type: disc;
}

.apply_container h2 {
	padding: 20px 0 10px 0;
}



/*********************
Blog
*********************/

.page-header,.blog {
	padding: 10px 0;
	width: 60%;
}

.blog-sidebar {
	float: right;
	text-align: right;
	padding-top: 50px;
	width: 25%;
}

.category-header {
	border-bottom: 1px solid #EEEEE9;
	display: inline-block;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.blog-sidebar ul {
	margin: 0 0 40px 0;
}

.blog-sidebar li {
	list-style: none;
	margin: 3px 0;
}

.blog-sidebar li a {
	padding: 2px 0px;
}

.blog-sidebar li a:hover {
	background: rgb(78,197,212);
	border-radius: 20px;
	color: white;
	padding: 2px 10px;
}

.page-header,.fullpost {
	margin: 10px auto 50px auto;
}

.fullpost ul {
list-style-type:solid;
padding-left:45px;
list-style-position:outside;
}


.page-header,.listpost {
	border-bottom: 1px solid #EEEEE9;
	margin: 10px auto 50px auto;
}

.listpost:last-child {
	border: none;
}

.body p, .body {
	font-family: museo slab;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 0 10px 0;
}

.blog-header-image img {
	width: 100%
}

.category a{
	background: #524C39;
	background-image: -webkit-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -moz-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -o-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -ms-linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: linear-gradient(top,#544E3B 50%,#504A38 50%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#544E3B),color-stop(0.5,#504A38));
	color: white;
	display: block;
	padding: 3px 5px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.title h1 {
	padding: 20px 0;
}

.post-share {
/*	background: rgb(238,238,233); */
	display: block;
	margin: 10px 0;
	padding: 10px 2%;
}

.author-bio {
	border: 1px solid rgb(238,238,233);
	float: right;
	margin: 0 0 10px 2%;
	padding: 2%;
	width: 30%;
}

.author-bio-photo {
	padding: 0 0 5% 0;
	width: 100%;
}

.post-morelikethis {
	margin: 50px 0;
	overflow: auto;
}

.post-morelikethis div {
	float: left;
	margin: 10px 0 0 0;
	padding-right: 5%;
	width: 30%;
}

.post-morelikethis div:last-child {
	padding-right: 0;
}

.post-thumbnail {
	width: 100%;
}

.stop {
	background: url(../images/stop.png) no-repeat 0 0 white;
	display: inline-block;
	height: 20px;
	margin-left: 5px;
	position: relative;
	width: 20px;
}

.meta {
	margin: 0 0 20px 0;
}

.readmore {
	margin: 40px 0;
}

.pagination {
	list-style: none;
	text-align: center;
	margin: 0 0 50px 0;
}

.pagination li {
	display: inline;
	list-style: none;
}

.pagination li a {
	border-radius: 1px;
	margin: 2px;
	padding: 10px;
}

.active {
	padding: 10px;
}

.pagination li a:hover {
	background: #20AEBF;
	color: white;
}

/* */



/*********************
Footer
*********************/

.container {
	text-align: left;
	margin: 0 auto 30px auto;
	width: 960px;
	position: relative;
	overflow: hidden;
}

#footer-bottom #et-social-icons {
	margin-top:0px;
}

#footer-bottom #et-social-icons a img {
	position:relative;
	top:-23px;
}

#footer-bottom #et-social-icons a:hover img, a:hover img.filter {
	opacity:0.5;
	filter:alpha(opacity=50);
}

#footer {
	background:#524C39;
	height: 100%;
	padding-bottom: 10px;
	min-width: 960px;
}

#footer-widgets {
	padding: 20px 0 0;
}

.footer-widget {
	width: 280px;
	margin-right: 60px;
	float: left;
	color: #fff;
}

.last {
	margin-right: 0px;
}

#footer h4.widgettitle {
	font-size: 12px;
	font-weight: bold;
	color:#ffffff;
	text-transform: uppercase;
	padding-bottom: 5px;
}

.footer-widget a {
	color: #22b7c9;
}

.footer-widget a:hover {
	color: #54e9fb;
	text-decoration: none;
}

.footer-widget ul {
	margin-bottom:8px;
}

.footer-widget ul ul {
	margin-bottom:0;
}

.footer-widget ul li {
	background:url(images/footer-bullet.png) no-repeat 0 7px;
	padding:0px 0 7px 12px;
}

.footer-widget ul li ul {
	margin:0 0 -3px;
	padding:5px 0 0 7px;
}

#footer-bottom {
	padding: 10px 0px 50px;
}

ul.bottom-nav li {
	float: left;
	padding-right: 20px;
}

ul.bottom-nav li a {
	color:#22b7c9;
	font-size:12px;
	text-decoration: none;
}

ul.bottom-nav li a:hover {
	text-decoration: none;
	color: #54e9fb;
}

ul.bottom-nav li.current_page_item a {
	color: #fffae4 !important;
}

p#copyright {
	color:#fafaf3;
	float:left;
	margin:0;
	padding: 0 0 20px 0;
	font-size: 12px;
}

#logo-footer img {
	padding-bottom:10px;
}

#logo-footer {
	float:left;
	min-height:65px;
	margin-right:40px;
	position:relative;
}
#menu-footer {
	float:left;
	margin:0;
	padding:0;
	position:relative;
	width:93%;
	list-style: none;
}

#menu-footer li {
	float:left;
	margin:0 18px 0 0;
	padding:0;
	position:relative;
	width:10%;
	list-style: none;
}

#menu-footer li#menu-item-2035 {
	width:6%;
}

#menu-footer li#menu-item-1071 {
	width:11%;
}

#menu-footer li#menu-item-1042 {
	width:10.5%;
}

#menu-footer li#menu-item-1043 {
	width:13%;
}

#menu-footer li#menu-item-1044 {
	width:10%;
}

#menu-footer li#menu-item-1045 {
	width:8%;
}

#menu-footer li#menu-item-1046 {
	width:8%;
}

#menu-footer li a:link, #menu-footer li a:visited {
	color: rgb(34,183,201);
	font-size:13px;
}

#menu-footer li a:hover, #menu-footer li a:active {
	color:rgb(78, 197, 212);
}

#menu-footer .sub-menu li {
	padding: 8px 0 0;
	line-height:10pt;
	width:90%;
}

#menu-footer .sub-menu li a:link, #menu-footer .sub-menu li a:visited {
	color:#CCCCCC;
	font-size:11px;
}

#menu-footer .sub-menu li a:hover, #menu-footer .sub-menu li a:active {
	color:#FAFAF3;
}

#menu-footer .sub-menu .sub-menu li {
	background:url(images/arrow-footer-link.png) no-repeat 0 9px transparent;
	padding-left:10px;
}

#menu-footer .sub-menu .sub-menu li a {
	color:#CCCCCC;
}

#menu-footer .sub-menu .sub-menu li a:hover {
	color:#FAFAF3 important;
}

#footer-bottom #et-social-icons a img {
	position: relative;
	top: -23px;
}

#et-social-icons a {
	float: left;
	height: 23px;
	overflow: hidden;
	padding-left: 3px;
	position: relative;
	width: 23px;
}


/*********************
Buttons
*********************/

.button_inset {
	display: block;
	margin: 10px auto;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1) inset;
	padding: 4px;
	width: 142px;
	border-radius: 30px;
}

.media_button2 {
	display: block;
	margin: 0 auto;
	margin-bottom:20px;
	width: 142px;
	height:20px;
	padding: 7px 20px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	background-image: -moz-linear-gradient(top, rgb(34,183,201) 50%, rgb(32,174,191) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(34,183,201)), to(rgb(32,174,191)));				
	box-shadow:0px -1px 1px 0px rgba(0,0,0,0.3) inset, 0px 1px 1px 0px rgba(255,255,255,0.7) inset;
	color: white;
	font-family: Museo Slab;
	font-weight: 300;
	font-size: 14px;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.2);
}

.media_button2:hover {
	background-image: -moz-linear-gradient(top, rgb(78,197,212) 50%, rgb(74,187,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(78,197,212)), to(rgb(74,187,201)));				
}

.media_button2:active {
	background-image: -moz-linear-gradient(top, rgb(32,174,191) 50%, rgb(34,183,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(32,174,191)), to(rgb(34,183,201)));				
	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.1) inset, 0px -1px 1px 0px rgba(255,255,255,0.7) inset;
	color: rgba(255,255,255,0.50);
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}


.media_button {
	display: block;
	padding: 7px 20px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	background-image: -moz-linear-gradient(top, rgb(34,183,201) 50%, rgb(32,174,191) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(34,183,201)), to(rgb(32,174,191)));				
	box-shadow:0px -1px 1px 0px rgba(0,0,0,0.3) inset, 0px 1px 1px 0px rgba(255,255,255,0.7) inset;
	color: white;
	font-family: Museo Slab;
	font-weight: 300;
	font-size: 14px;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.2);
}
.media_button:hover {
	background-image: -moz-linear-gradient(top, rgb(78,197,212) 50%, rgb(74,187,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(78,197,212)), to(rgb(74,187,201)));				
}

.media_button:active {
	background-image: -moz-linear-gradient(top, rgb(32,174,191) 50%, rgb(34,183,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(32,174,191)), to(rgb(34,183,201)));				
	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.1) inset, 0px -1px 1px 0px rgba(255,255,255,0.7) inset;
	color: rgba(255,255,255,0.50);
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

.button_inset_large {
	display: inline-block;
	margin: 10px auto;
	/*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1) inset, 0px -1px 1px 0px rgba(255,255,255,1) inset;*/
	padding: 4px;
	border-radius: 30px;
}

.button_large {
	display: block;
	padding: 7px 20px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	background-image: -moz-linear-gradient(top, rgb(34,183,201) 50%, rgb(32,174,191) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(34,183,201)), to(rgb(32,174,191)));				
	box-shadow:0px -1px 1px 0px rgba(0,0,0,0.3) inset, 0px 1px 1px 0px rgba(255,255,255,0.7) inset;
	color: white;
	font-family: Museo Slab;
	font-weight: 300;
	font-size: 18px;
	text-shadow: 0px -2px 0px rgba(0,0,0,0.2);
	border: 0;
}

.button_large:hover {
	background-image: -moz-linear-gradient(top, rgb(78,197,212) 50%, rgb(74,187,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(78,197,212)), to(rgb(74,187,201)));				
}

.button_large:active {
	background-image: -moz-linear-gradient(top, rgb(32,174,191) 50%, rgb(34,183,201) 50%);
	background-image: -webkit-gradient(linear, 0% 50%, 0% 51%, from(rgb(32,174,191)), to(rgb(34,183,201)));				
	box-shadow:0px 1px 1px 0px rgba(0,0,0,0.1) inset, 0px -1px 1px 0px rgba(255,255,255,0.7) inset;
	color: rgba(255,255,255,0.50);
	text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
}

/* ------- Fluid Columns ------- */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

/* Mogra added to make the image responsive */
#container img, #container_full img{max-width: 100%;}

.bl100{
	margin: 0 auto;
	text-align: center;
	width: 100px;	
}

.bl100 a{color: #fff;}

.home_cat_content{
	min-height: 85px;
    margin-bottom: 10px;
    text-align: center; 
}

.home_cat_title,.home_img_container{
	text-align: center; 
	width: auto;
}

img#homebanner{width: 103%;}

.hphome{
	display: block;
    list-style: none outside none;
    margin: 0;
    padding: 20px 10px;
    width: 918px;
}

.whatishp {
    width: 500px; margin: 40px 20px; float: right;
}

.hphome .fancyquote{max-width: 100%;}
.margint25{margin-top: 25px;}

#midpage{font-family: Museo Slab,helvetica,arial,sans-serif;}
.hphome #midpage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEE9;
    margin-left: -21px;
    padding: 25px;
    width: 908px;
	margin-bottom: 22px;
}

.hphome #midpage h2{
	font-size: 1.3em !important;
	font-weight: 700 !important;
}

.apage#aboutcats{margin-bottom: 50px;}
.apage #twitterbox{background: #fff;border: 1px solid #EEEEE9; padding: 7px 10px; }
.atweet{ margin:5px 0 15px;}
.atweet small{color: #aaa;}


.button_large_contact{
	margin-left: 96px;
    margin-top: 310px;
    position: absolute;
	width: 265px;
	height: 70px;
	text-align: center;
	background: url(../images/contact-us.png);
    cursor: pointer;
    display: block;
    text-decoration: none;
   text-indent: -9999px;
}

.hover-img {
    filter:alpha(opacity=100);
    -moz-opacity:1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}
.hover-img:hover {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.button_large_contact a{color: #fff;}
.cgallerytitle{text-align: center; margin: 25px 0 10px; font-family: museo sans,helvetica,arial,sans-serif;}

#botgallery{  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEE9;
    /*padding-right: 14px;
    width: 99%;*/
	margin-top: 15px;
	width: 432px;
}
















/* #start CHAUL added below css  */



.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {
	display: none;
}
.entry-content,
.entry-summary {
	padding: 1.625em 0 0;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
	color: #000;
	font-weight: bold;
	margin: 0 0 .8125em;
}
.entry-content h3,
.comment-content h3 {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}

/* =Widgets
----------------------------------------------- */

.widget-area {
	font-size: 12px;
}
.widget {
	clear: both;
	margin: 0 20px 2.2em;
}

.widget ul {
	margin: 0;
}
.widget ul ul {
	margin-left: 1.5em;
}

.widget a {
    font-size: 16px;
    font-weight: 100;
	text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
	text-decoration: underline;
}

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 77%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
	list-style: square;
	margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.widget_twentyeleven_ephemera .comments-link a,
.widget_twentyeleven_ephemera .comments-link > span {
	color: #666;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	text-transform: uppercase;
}
section.ephemera .entry-title .comments-link a:hover,
.widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}
section.ephemera .entry-title a span {
	color: #29628d;
}

/* Twitter */
.widget_twitter li {
	list-style-type: none;
	margin-bottom: 14px;
}
.widget_twitter .timesince {
	display: block;
	font-size: 11px;
	margin-right: -10px;
	text-align: right;
}

/* Widget Image */
.widget_image img {
	border: 0;
	padding: 0;
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}


  /* -------------------------------- */
/* ---------- SOCIAL BAR ---------- */
/* -------------------------------- */
#social-bar-holder { 
	border-bottom:1px solid #d1d1bd;
	border-top:1px solid #d1d1bd;
	float:left; 
	margin:20px 0;
	min-height:30px; 
	padding:0; 
	width:100%; 
	}
#hp-social-bar { height: 30px; width:530px; position: relative; }
#hp-social-bar a { display:inline-block; float:left; font-family:Arial, Helvetica, sans-serif;font-size:14px; overflow: hidden; height: 26px; width: 70px; border:none;margin-left:25px; padding-left:25px; padding-top:4px; }
#hp-social-bar #twitter-icon{background: url(../images/sb-twitter-small.jpg) no-repeat 0 4px transparent !important;margin-left:75px; }
#hp-social-bar #facebook-icon  { background: url(../images/sb-facebook-small.jpg) no-repeat 0 4px transparent !important; width:120px !important; }
#hp-social-bar #plusone-icon  { background:url(../images/sb-google-small.jpg) no-repeat 0 4px transparent !important; }
#hp-social-bar #email-icon     { background: url(../images/sb-email-small.jpg) no-repeat 0 4px transparent !important; }
#hp-social-bar #tooltip { display:none; }


/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}

/* Text elements */
#container p {
	padding: 0 0 20px;
}
#container ul, #container ol {
	margin: 0 0 20px 30px;
}
#container ul {
	list-style: disc;
}
#container ol {
	list-style-type: decimal;
}
#container ol ol {
	list-style: upper-alpha;
}
#container ol ol ol {
	list-style: lower-roman;
}
#container ol ol ol ol {
	list-style: lower-alpha;
}
#container ul ul, #container ol ol, #container ul ol, #container ol ul {
	margin-bottom: 0;
}
#container dl {
	margin: 0 1.625em;
}
#container dt {
	font-weight: bold;
}
#container dd {
	margin-bottom: 1.625em;
}
#container strong {
   font-weight: 500;
}
#container cite, #container em, #container i {
	font-style: italic;
}
/* #end added below css  */

/* Text elements */
#containerwp p {
	padding: 0 0 20px;
}
#containerwp ul, #container ol {
	margin: 0 0 20px 30px;
}
#containerwp ul {
	list-style: disc;
}
#containerwp ol {
	list-style-type: decimal;
}
#containerwp ol ol {
	list-style: upper-alpha;
}
#containerwp ol ol ol {
	list-style: lower-roman;
}
#containerwp ol ol ol ol {
	list-style: lower-alpha;
}
#containerwp ul ul, #container ol ol, #container ul ol, #container ol ul {
	margin-bottom: 0;
}
#containerwp dl {
	margin: 0 1.625em;
}
#containerwp dt {
	font-weight: bold;
}
#containerwp dd {
	margin-bottom: 1.625em;
}
#containerwp strong {
   font-weight: 500;
}
#containerwp cite, #container em, #container i {
	font-style: italic;
}
/* #end added below css  */






.callout { 
	padding: 10px;
	display: block;
	width: 340px;
	height:100%;
	/*float: left;*/
	border: 1px solid rgb(238, 238, 233);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	background: rgb(250, 250, 243);
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1.0);
	margin-bottom:80px;
}
.callout h3 {
	color: rgb(141,174,50);
	padding: 0 0 5px 0;
}

 .callout p {
	padding: 0 0 5px 0 !important;
	font-size: 90% !important;
}

.callout_container h2 {
	margin: 0 0 20px 0;
}

.fancyquote
{
	padding: 10px 10px 40px 10px;
	display: block;
	width: 340px;
	border-top: 1px solid rgb(238, 238, 233);
	border-bottom: none;
	color: rgb(141, 174, 50);
	background: rgb(250, 250, 243);
	-moz-border-image: url('/images/blockquote_340.png') 0 0 50 0 stretch stretch;
	background-repeat: repeat-x;
	background-position: 0px bottom;
	font-style: italic;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);
}

.fancyquote h2 {
	font-family: Museo Slab,Georgia,Serif !important;
	font-weight: 100 !important;
	color: #8dae32 !important;
	font-size:22px;
}

.fancyquote p {
  text-align: right !important;
  padding-top: 15px !important;
}
.fancyquotelarge {

	padding: 10px 10px 40px 10px;
	display: block;
	width: 100%;
	border-top: 1px solid rgb(238, 238, 233);
	border-bottom: none;
	color: rgb(141, 174, 50);
	background: rgb(250, 250, 243);
	border-bottom-image: url('/images/blockquote_960.png');
	background-repeat: repeat-x;
	background-position: 0px bottom;
	font-style: italic;
	border-radius: 3px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1.0);

}
.fancyquotelarge h2 {
	font-family: Museo Slab,Georgia,Serif !important;
	font-weight: 100 !important;
	color: #8dae32 !important;
	font-size:22px !important;
}

.fancyquotelarge p {
  text-align: right !important;
  padding-top: 15px !important;
}



.blog-header-image img {
	width: 400px;
    }

.menu-footer-container #menu-footer li ul{margin-left: 0;}



.prelease ul{margin: 0 0 20px 5px !important;}
.prelease li {padding: 10px 0;}
.prelease p{/*margin-left: 5px;*/ color: #999;}

.whitepapersingle .wpcf7-form p, .careers_container .wpcf7-form p{
	margin: 0 20px 20px 0 !important;
    width: 300px;
	float: left;
}

.whitepapersingle .wpcf7-form p label, .careers_container .wpcf7-form p label{
	display: inline;
    float: none;
    margin: 4px 0;
	font-size: 16px;
	}

.whitepapersingle .wpcf7-form p input[type="text"], .careers_container .wpcf7-form p input[type="text"]{
	height: 30px;
    margin: 4px 20px 4px 0;
    width: 85%;
	}

.whitepapersingle .wpcf7-form p.sf_description , .careers_container .wpcf7-form p.sf_description{
    width: 100%;
}

.whitepapersingle .wpcf7-form p textarea , .careers_container .wpcf7-form p textarea{
    height: 100px;
    margin: 4px 0 10px;
    width: 80%;
}

h3.widget-title{font-family: museo sans,helvetica,arial,sans-serif;
border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeee9;
  display: inline-block;
  margin-bottom: 5px;
  padding-bottom: 5px;}


